.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.club-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.club-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-club-button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.delete-club-button:hover {
  transform: scale(1.2);
  background-color: #dc3545;
}
